* {
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  width: 100vw;
} */
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: silver;
  background-image: linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.container-top {
  background-color: lightgrey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  font-size: 30px;
}

.container-mid {
  display: flex;
  background-color: #300f00;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  height: 80vh;
}

.container-bot {
  background-color: green;
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
  padding: 10px 0;
}

td {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  background-color: white;
  border-radius: 50%;
}

.circle {
  background: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
}

.btn-style {
  font-size: 24px;
  border-radius: 20%;
  background: repeating-linear-gradient(-45deg, red, white 20px, white 40px);
  height: 50px;
  width: 150px;
}

#red-piece,
#green-piece {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  margin: 10px;
}

#red-piece {
  background-color: red;
}

#green-piece {
  background-color: green;
}

h1 {
  text-align: center;
}

.box > div {
  background-color: white;
}
